args==0.1.0
clint==0.5.1
dj-database-url==0.3.0
dj-static==0.0.6
Django>=1.9.1,<1.10
django-debug-toolbar>=1.4
django-toolbelt==0.0.1
djangorestframework==3.3.2
gunicorn>=19.4.5
psycopg2==2.6.1
requests==2.9.1
sqlparse==0.1.18
static3==0.6.1
sunlight==1.2.9
wheel==0.26.0
whitenoise==2.0.6
django-compressor>=1.6
django-libsass>=0.6
Fabric>=1.10.0
